
<div class="error-pagewrap">
    <div class="error-page-int">
        <div class="content-error">
            <h1>ERROR <span class="counter"> 404</span></h1>
            <p>Sorry, but the page you are looking for has note been found. Try checking the URL for the error, then hit
                the
                refresh button on your browser or try found something else in our app.</p>
            <a href="#" onclick="window.history.back()"><i class="fa fa-arrow-left"></i> Back</a>
            <a href="#">Report Problem</a>
        </div>
        <div class="text-center login-footer">
            <p class="copyright">Copyright &copy; 2020 All Rights Reserved.</p>
            <a href="/terms">Terms of Services</a>
        </div>
    </div>
</div>