<section class="bg-dark">
    <div class="container">
        <div class="row align-items-center">
            <div class="col-lg-9">
                <div class="action-content res_md_mb_20">
                    <h3 class="animation" data-animation="fadeInUp" data-animation-delay="0.2s">Let Us Help You to
                        Find a Solution That Meets Your Needs</h3>
                    <p class="m-0 animation" data-animation="fadeInUp" data-animation-delay="0.4s">if you feel you
                        need any help
                        you are free to contact us either through the live chat widget or vist our contact page.</p>
                </div>
            </div>
            <div class="col-lg-3 text-lg-right">
                <a href="/contact" class="btn btn-default btn-radius animation" data-animation="fadeInUp"
                    data-animation-delay="0.45">Contact Us <i class="ion-ios-arrow-thin-right"></i></a>
            </div>
        </div>
    </div>
</section>