<!-- START FOOTER SECTION -->
<footer>
    <div class="top_footer bg-dark" data-z-index="1" data-parallax="scroll"
        data-image-src="/assets/images/footer_bg.png">
        <div class="container">
            <div class="row">
                <div class="col-lg-5 col-md-12">
                    <div class="newsletter_form">
                        <h4 class="footer_title border_title animation" data-animation="fadeInUp"
                            data-animation-delay="0.2s">Newsletter</h4>
                        <p class="animation" data-animation="fadeInUp" data-animation-delay="0.4s">By subscribing to
                            our mailing list you will always be update with the latest news from us.</p>
                        <form class="subscribe_form animation" data-animation="fadeInUp" data-animation-delay="0.4s">
                            <input class="input-rounded" type="email" required placeholder="Enter Email Address" />
                            <button type="submit" title="Subscribe" class="btn-info" name="submit" value="Submit">
                                Subscribe </button>
                        </form>
                    </div>
                </div>
                <div class="col-lg-3 offset-lg-1 col-md-6 col-sm-8 res_md_mt_30 res_sm_mt_20">
                    <h4 class="footer_title border_title animation" data-animation="fadeInUp"
                        data-animation-delay="0.2s">Quick Links</h4>
                    <ul class="footer_link half_link list_none res_sm_mb_30">
                        <li class="animation" data-animation="fadeInUp" data-animation-delay="0.2s"><a href="/">Home</a>
                        </li>

                        <li class="animation" data-animation="fadeInUp" data-animation-delay="0.3s"><a
                                href="#howItworks">How
                                It Works</a></li>

                        <li class="animation" data-animation="fadeInUp" data-animation-delay="0.4s"><a
                                href="/pricing-table">Pricing-table</a></li>
                        <li class="animation" data-animation="fadeInUp" data-animation-delay="0.5s"><a
                                href="/faq">FAQ</a></li>

                        <li class="animation" data-animation="fadeInUp" data-animation-delay="0.6s"><a
                                href="/contact">Contact</a></li>

                    </ul>
                    <br>
                    <li class="animation" data-animation="fadeInUp" data-animation-delay="0.3s"><a
                            href="/referral-program" class="btn btn-danger">Refer a friend and earn!</a></li>
                </div>

            </div>
        </div>
    </div>
    <div class="bottom_footer bg-dark">
        <div class="container">
            <div class="row">
                <div class="col-md-6">
                    <p class="copyright">Copyright &copy; 2020 All Rights Reserved.</p>
                </div>
                <div class="col-md-6">
                    <ul class="list_none footer_menu">
                        <li><a href="/terms">Terms of Services</a></li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</footer>
<!-- END FOOTER SECTION -->