<section class="section_team bg_gray" style="background: #010C1D;">
    <div class="angle_top"></div>
    <div class="divider large_divider"></div>
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-md-12 offset-lg-2">
                <div class="title_default_light title_border text-center">
                    <h4 class="animation" data-animation="fadeInUp" data-animation-delay="0.2s">
                        Leadership Team</h4>
                    <p class="animation" data-animation="fadeInUp" data-animation-delay="0.4s">We are proud of our
                        great team. They are one of the most motivating and enthusiastic people we have, and are
                        always
                        ready and willing to help out where needed. </p>
                </div>
            </div>
        </div>
        <div class="row small_space">
            <div class="col-lg-3 col-md-6 col-sm-6 res_md_mb_30 res_sm_mb_20">
                <div class="bg-white radius_box team_box_s3 animation" data-animation="fadeInUp"
                    data-animation-delay="0.6s">
                    <div class="text-center">
                        <img src="/ceo.jpeg" alt="placeholder9" style="border-radius: 25px 50px ;" />
                    </div>
                    <div class="team_info text-center">
                        <h4>Alex Hildson</h4>
                        <p>CEO/FOUNDER</p>
                    </div>
                </div>
            </div>
            <div class="col-lg-3 col-md-6 col-sm-6 res_md_mb_30 res_sm_mb_20">
                <div class="bg-white radius_box team_box_s3 animation" data-animation="fadeInUp"
                    data-animation-delay="0.4s">
                    <div class="text-center">
                        <img src="/2.jpeg" alt="placeholder9" style="border-radius: 25px 50px;" />
                    </div>
                    <div class="team_info text-center">
                        <h4>Marcos Niklas</h4>
                        <p>Director</p>
                    </div>
                </div>
            </div>
            <div class="col-lg-3 col-md-6 col-sm-6 res_md_mb_30 res_sm_mb_20">
                <div class="bg-white radius_box team_box_s3 animation" data-animation="fadeInUp"
                    data-animation-delay="0.8s">
                    <div class="text-center">
                        <img src="/3.jpeg" alt="placeholder9" style="border-radius: 25px 50px ;" />
                    </div>
                    <div class="team_info text-center">
                        <h4>Efrem Anita </h4>
                        <p>Manager</p>
                    </div>
                </div>
            </div>

            <div class="col-lg-3 col-md-6 col-sm-6">
                <div class="bg-white radius_box team_box_s3 animation" data-animation="fadeInUp"
                    data-animation-delay="1s">
                    <div class="text-center">
                        <img src="/4.jpeg" alt="placeholder9" style="border-radius: 25px 50px ;" />
                    </div>
                    <div class="team_info text-center">
                        <h4>Mladen Sandra</h4>
                        <p>Assistant Manager</p>
                    </div>
                </div>
            </div>



        </div>
</section>