<div id="loader-wrapper" class="">
    <div id="loading-center-absolute" class="">
        <div class="object bg-dark" id="object_four"></div>
        <div class="object bg-dark" id="object_three"></div>
        <div class="object bg-dark" id="object_two"></div>
        <div class="object bg-dark" id="object_one"></div>
    </div>
    <div class="loader-section section-left bg-light"></div>
    <div class="loader-section section-right bg-light"></div>
</div>