{{!-- <div class="preloader">
    <div class="preloader-content">
        <img src="/img/loading.gif" alt="">
        <h3>Please wait...</h3>
    </div>
</div>

<script>
    setTimeout(function () {
        document.querySelector('.preloader').style.display = 'none';
    }, 3000);
</script> --}}