<html lang="en">
  <head>

    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />

    <title>Gemimi | Create an Account</title>

    <link
      rel="icon"
      href="/asset-folder/auth/app/public/photos/trYJCVJuAtL7NPZLHY6snYTPzE0CZBDdrVNKZg7q.png"
      type="image/png"
    />

    <link
      href="/asset-folder/auth/bootstrap.min.css"
      rel="stylesheet"
      type="text/css"
    />
    <!-- Icons -->
    <link
      href="/asset-folder/auth/materialdesignicons.min.css"
      rel="stylesheet"
      type="text/css"
    />

    <link rel="stylesheet" href="/asset-folder/auth/line.css" />
    <script src="https://www.google.com/recaptcha/api.js" async defer></script>
    <!-- Main Css -->
    <link
      href="/asset-folder/auth/style.css"
      rel="stylesheet"
      type="text/css"
    />
    <link href="/asset-folder/auth/default.css" rel="stylesheet" />

  </head>
  <body class="h-100 bg-soft-primary">

    {{{body}}}

    <script src="/asset-folder/auth/jquery-3.5.1.min.js"></script>
    <script src="/asset-folder/auth/bootstrap.bundle.min.js"></script>

    <!-- SLIDER -->
    <script src="/asset-folder/auth/owl.carousel.min.js"></script>
    <script src="/asset-folder/auth/owl.init.js"></script>
    <!-- Icons -->
    <script src="/asset-folder/auth/feather.min.js"></script>
    <script src="/asset-folder/auth/bundle.js"></script>

    <script src="/asset-folder/auth/app.js"></script>
    <script src="/asset-folder/auth/widget.js"></script>
    <script>
      $('#input1').on('keypress', function(e) { return e.which !== 32; });
    </script>
  </body>
</html>