<div class="left-sidebar-pro">
  <nav id="sidebar" class="sidebar">
    <div class="sidebar-header bgb-2">
      <a href="/dashboard" style="padding: 0.9em;">
        <h3>{{websiteName}}</h3>
      </a>
      <strong><a href="/dashboard"><img
            src="/template/logo.png"
            width="150"
            alt=""
          /></a></strong>
    </div>
    <div
      class="bgb-2 left-custom-menu-adp-wrap comment-scrollbar"
      style="padding-top: 2em;"
    >
      <nav class="sidebar-nav left-sidebar-menu-pro bgb-2">
        <ul class="metismenu bgb-2" id="menu1">
          <li>
            <a href="/dashboard/manage">
              <i class="fa fa-dashboard"></i>
              Overview
            </a>
          </li>

          <li>
            <a href="/dashboard/manage/users">
              <i class="fa fa-users"></i>
              Registered users
            </a>
          </li>

          <li>
            <a href="/dashboard/manage/withdrawals">
              <i class="fa fa-bank"></i>
              Transactions
            </a>
          </li>

          <li>
            <a href="/dashboard/manage/activities">
              <i class="fa fa-cloud"></i>
              Activities
            </a>
          </li>

          <li>
            <a href="/dashboard/manage/messages">
              <i class="fa fa-envelope"></i>
              Messages
            </a>
          </li>

          <li>
            <a href="/auth/logout">
              <i class="fa fa-sign-out"></i>
              Log out
            </a>
          </li>

        </ul>
      </nav>
    </div>
  </nav>
</div>