<section class="contact_section small_pb">
    <div class="container">
        <br><br><br>
        <div class="row">
            <div class="col-lg-8 col-md-12 offset-lg-2">
                    <div class="alert alert-success">
        <h4>Your message has been successfully sent!</h4>
    <h4>Thank you for reaching out to us.</h4>
    </div>

    <br>

    <button onclick="window.history.back();" class="btn"><i class="fa fa-arrow-left"></i> Back</button>
                </div>
            </div>
        </div>
    </div>
</section>